<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../css/reset.css" />
    <link rel="stylesheet" type="text/css" href="../css/waiting.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../js/waiting.js" defer></script>
    <title>Waiting for next match</title>
  </head>
  <body>
    <section id="loader-wrapper">
      <div class="loader">
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__ball"></div>
      </div>
    </section>

    <div id="text-wrapper">
      <!-- ? the overlay div that is always present when turning on a popup window -->
      <div class="overlay" v-if="overlayOff == false"></div>
      <section id="table-wrapper" >
        <h1>Take your seats!</h1>
        
        <p class="help" v-if="toggleHelp">This is the layout of the tables in the event area. 
          The coloured box with the displayed number is your next table. Please find your seat
        to meet your date.</p>
        <section class="row" id="row1">
          <div class="table" id="1"></div>
          <div class="table" id="2"></div>
          <div class="table" id="3"></div>
          <div class="table" id="4"></div>
          <div class="table" id="5"></div>
        </section>
        <section class="row" id="row2">
          <div class="table" id="6"></div>
          <div class="table" id="7"></div>
          <div class="table" id="8"></div>
          <div class="table" id="9"></div>
          <div class="table" id="10"></div>
        </section>
        <button class="date">Ready to start!</button>
        <div class="help-button" v-on:click="showInfo()">?</div>
      </section>
      <div v-if="hideIcebreaker">
        You are currently being paired up with a new match...
      </div>
      <div v-if="!hideIcebreaker" id="icebreakerIndex">
        Icebreaker tip #{{icebreakerIndex}}
      </div>
      <div v-if="visible" id="icebreaker">{{icebreaker}}</div>
    </div>
    <div id="sequence"></div>
  </body>
</html>
