<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../css/reset.css" />
    <link rel="stylesheet" type="text/css" href="../css/waiting.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../js/waiting.js" defer></script>
    <title>Waiting for next match</title>
  </head>
  <body>
    <div class ="container">
    <section id="loader-wrapper">
      <div class="loader">
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__ball"></div>
      </div>
    </section>
    <div id="text-wrapper">
      <!-- ? the overlay div that is always present when turning on a popup window -->
      <div class="overlay" v-if="overlayOff == false"></div>
      <section id="table-wrapper" >
        <h1>Take your seats!</h1>
        
        <p class="help" v-if="toggleHelp">This is the layout of the tables in the event area. 
          The coloured box is your table. Please find your seat to meet your date.</p>
        <section class="row" id="row1">
          <div class="table" id="1"></div>
          <div class="table" id="2"></div>
          <div class="table" id="3"></div>
          <div class="table" id="4"></div>
          <div class="table" id="5"></div>
        </section>
        <section class="row" id="row2">
          <div class="table" id="6"></div>
          <div class="table" id="7"></div>
          <div class="table" id="8"></div>
          <div class="table" id="9"></div>
          <div class="table" id="10"></div>
        </section>
        <button class="date" v-on:click="getDate()">Ready to start!</button>
        <div class="help-button" v-on:click="showInfo()">?</div>
      </section>
      <div v-if="hideIcebreaker">
        You are currently being paired up with a new match...
      </div>
      <div v-if="!hideIcebreaker" id="icebreakerIndex">
        Icebreaker tip #{{icebreakerIndex}}
      </div>
      <div v-if="visible" id="icebreaker">{{icebreaker}}</div>
    </div>
    <div id="sequence"></div>
    <div id="your-date-container" v-if="seat">
      <div id="your-match">
        <h1 id="date-header">This is your date!</h1>
        <img
          id="current-date-img"
          :src="dateImg"
          alt="your date"
        />
        <h1 id="date-name">{{myDate.name}}</h1>
      </div>
      <div id="countdown">
        Remaining Time:
        <span id="time">{{display}} </span>
      </div>
      <div id="button-container">
        <button id="exit-date" v-on:click="cancelDate()">
          Exit date!
        </button>
      </div>
    </div>
    <div id="rate-date-container" v-if="rate">
      <h1 id="rate-header">Rate your date!</h1>
      <div id="current-date">
        <img
        id="current-date-img"
        :src="dateImg"
        alt="your date"
      />
      <h1 id="date-name">{{myDate.name}}</h1>
      </div>
      <div
        id="slide-container"
        
        v-for="(item,index) in questions"
      > 
        <p class="question">{{item}}</p>
        <p>{{rating[index]}}</p>
        <div class="rangeslider">
          <input
            type="range"
            min="1"
            max="10"
            step="1"
            class="slider"
            v-model="rating[index]"
            id="fstAttribute"
          />
        </div>

      </div>
      <p></p>
        <textarea v-model="message" id="text-box" cols="30" rows="10" placeholder="Aything you would like to tell the host?"></textarea>

      <div id="button-container">
        <button id="submit-rating-button"  @click="submitRating">
          Done!
        </button>
      </div>
    </div>
  </div>
  </body>
</html>
