html {
  box-sizing: border-box;
}
header img {
  width: 90%;
  margin-left: 3.3em;
  text-align: center;
}
body {
  background-color: #393939;
}

#app-container {
  display: flex;
  flex-direction: column;
}

#app-start-header {
  text-align: center;
}
#app-start-logo{
  margin-top: 10px;
  padding-top: 2em;
  width: 350px
}

label {
  margin-top: 12em;
  font-size: 3em;
}
#roomKey {
  position: absolute;
  width: 60%;
  height: 10%;
  font-size: 5em;
  margin-top: 8em;
}
#buttonWrapper {
  margin-top: 15em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#submitKey {
  width: 400px;
  height: 2em;
  background-color: #fff;
  font-size: 26px;
  margin: 12.5px;
  border-radius: 12px;
  cursor: pointer;
  border: none;
}
#joinWrapper {
  display: flex;
  justify-content: center;
}
