/* ##################################### */

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

/* ##################################### */

body {
  background-color: #393939;
}

#join-room-button,
#host-room-button,
#user-account-button,
#user-matches-button,
#user-logout-button {
  width: 400px;
  height: 2em;
  background-color: #fff;
  font-size: 26px;
  margin: 12.5px;
  border-radius: 12px;
  cursor: pointer;
  border: none;
}
#join-room-button,
#user-matches-button,
#user-account-button {
  background-color: #9bcae1;
}

#user-logout-button {
  background-color: #e19ba7;
}

#app-buttons-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

#app-start-header {
  text-align: center;
}

.center-photo {
  width: 450px;
}

#app-container {
  display: flex;
  flex-direction: column;
}

.cell-center-photo {
  padding: 5em 0;
  align-self: center;
}
.cell-start-buttons {
  align-self: center;
}

.cell-header-logo {
  background-color: #fff;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  opacity: 0.75;
  z-index: 2;
  cursor: pointer;
}

#login-form {
  padding: 2em;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fff;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 3;
  width: 50vh;
}

#login-form h3 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 1em;
}

#username-input,
#password-input {
  width: 100%;
  height: 2.5em;
}

#user-label,
#pwd-label {
  display: block;
  margin-top: 1em;
  font-size: 18px;
}

#register-button {
  margin-top: 1em;
  font-size: 18px;
  width: 40%;
  height: 2em;
  cursor: pointer;
  border: none;
  background: none;
  border-radius: 12px;
}
#login-button {
  margin-top: 1em;
  font-size: 18px;
  width: 50%;
  height: 2em;
  cursor: pointer;
  background-color: #9bcae1;
  border: none;
  border-radius: 12px;
}

#login-button:hover {
  opacity: 0.8;
}

#register-button:hover {
  background-color: whitesmoke;
}

@media only screen and (max-width: 600px) {
  #join-room-button,
  #host-room-button,
  #user-account-button,
  #user-matches-button,
  #user-logout-button {
    width: 340px;
    margin: 10px;
  }

  .center-photo {
    width: 350px;
  }

  .cell-center-photo {
    padding: 4em 0;
  }

  #app-start-logo {
    margin-top: 10px;
    padding-top: 2em;
    width: 350px;
  }
}

/*! REGISTRATION CSS */

#register,
#profile {
  padding: 2em;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fff;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 3;
  width: 50vh;
}


#email,
#username,
#password,
#name,
#age {
  margin-top: 1.5em;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 4px;
  font-size: 1em;
}

#account-details-title {
  font-size: 28px;
}

#profile-details-title {
  font-size: 28px;
  margin-bottom: 1em;
}

#gender {
  width: 50%;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-top: 1.5em;
  padding: 4px;
  font-size: 1em;
  background-color: #fff;
  opacity: 0.6;
}

#gender-label {
  opacity: 0.6;
}

#register-next-key,
#profile-done-key {
  margin-top: 1em;
  background-color: #9bcae1;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 18px;
  width: 50%;
  height: 2em;
}

#profile-pic {
  width: 200px;
  height: 200px;
  margin: 10px;
}

#profile-back-key {
  margin-top: 1em;
  margin-right: 5px;
  background-color: #e19ba7;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 18px;
  width: 50%;
  height: 2em;
}

#next-button-holder {
  text-align: end;
}

#back-next-button-holder {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 600px) {
  #profile-pic {
    width: 150px;
    height: 150px;
    margin: 10px;
  }
}

/* ! close cross button on forms - styles */
.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.4;
}
.close:hover {
  opacity: 1;
}
.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

/* ! incorrect input on forms  */
.unfilled-entry {
  border-color: #ed1c24;
}

#incorrect-login {
  color: #ed1c24;
  font-size: 0.7em;
}