<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/host.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
    <script src="../js/manager-host-session-form.js" defer ></script>
    <title>Session Settings</title>
  </head>
  <body>
    <div id="manager-host-session-wrapper">
      <div id="manager-host-session-form">
	<h1
	  style="text-align: center">HOST SESSION</h1>
	<label
	  class="manager-host-left"
	  for="room-name">ROOM NAME:</label>
	<input
	  type="text"
	  label="room-name"
	  size="16"
	  v-model="session.name"></input>

	<button
	  class="manager-host-left"
	  v-on:click="formDone">
	  DONE
	</button>

	<div
	  class="manager-host-left">
	  <h3>
	    Custom Icebreaker questions
	  </h3>
	  <p
	    style="font-weight: normal">
	    If you want your room to have specialized icebreakers.
	  </p>
	</div>


	<div
	  id="manager-host-quotes">
	  <div
	    v-for="quote in quotes">
	    <p>- {{quote}}</p>
	  </div>
	</div>


	<input
	  class="manager-host-left"
	  type="text"
	  size="28"
	  v-model="newQuote"
	  placeholder="new icebreaker"></input>
	<input
	  class="manager-host-left"
	  type="button"
	  v-on:click="addQuote"
	  value="ADD"></input>

      </div>
    </div>
  </body>
</html>
